<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer__wrapper__1">
      <h1 class="footer_content">TravelTech</h1>
      <p class="footer_content">Main office located in Udaipur India.</p>
      <p class="footer_content" id="phone">91+ 8204251752</p>

    </div>
    <div class="footer__wrapper__2">
      <div class="footer__links">
        <h2 class="footer__title">Contact Us</h2>
        <a href="/contact" class="footer__link">Contact</a>
        <a href="/contact" class="footer__link">Support</a>
        <a href="#emailcontent" class="footer__link">Newsletter</a>
      </div>
      <div class="footer__links">
        <h2 class="footer__title">Memberships</h2>
        <a class="footer__link" href="/packages">Packages</a>
        <a class="footer__link" href="/packages">Plans</a>
        <a class="footer__link" href="/services">Services</a>
      </div>
      <div class="footer__links">
        <h2 class="footer__title">Social Media</h2>
        <a class="footer__link" href="https://www.instagram.com/mayank_gorana82/">Instagram</a>
        <a class="footer__link" href="https://in.linkedin.com/in/mayank-gorana-8a2266245">Linkedin</a>
        <a class="footer__link" href="https://twitter.com/mayank_gorana82">Twitter</a>
      </div>
    </div>
  </div>
  <div class="footer" style=" margin: 0; padding: 0;">
    <p style="width:100%; text-align: center;">&copy; Copyright 2024 traveltech</p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"
  integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"
  integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<script src="./script.js"></script>
</body>

</html>