<!-- Hero Section -->
<div class="hero">
  <div class="hero__content">
    <h1 class="an-hero">TravelTech</h1>
    <p class="an-hero" style="margin:2% auto 8%;">Explore Dream Discover</p>
    <div class="motion-button">
      <a href="#services" class="button an-hero">Get Started!</a>
    </div>
  </div>
</div>