 <!-- Membership Section -->
 <div class="membership__section">
    <h1 class="an-membership">View Our Plans</h1>
    <p class="membership__desc an-membership">
      Get started today and receive 25% off on your first month.
    </p>
    <div class="membership__wrapper">
      <div class="membership__card an-cards">
        <div class="membership__title">
          <!-- <i class="fa-solid fa- card-icon"></i> -->
          <h3>Starter</h3>
        </div>
        <div class="membership__perks">
          <p>Lorem ipsum dolor sit amet.</p>
          <p>$29 per month</p>
        </div>
        <a href="/" class="button">Get Started!</a>
      </div>

      <div class="membership__card an-cards">
        <div class="membership__title">
          <!-- <i class="fa-solid fa-person card-icon"></i> -->
          <h3>Silver</h3>
        </div>
        <div class="membership__perks">
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor.</p>
          <p>$39 per month</p>
        </div>
        <a href="/" class="button">Get Started!</a>
      </div>

      <div class="membership__card an-cards">
        <div class="membership__title">
          <!-- <i class="fa-solid fa-award card-icon"></i> -->
          <h3>Gold</h3>
        </div>
        <div class="membership__perks">
          <p>Lorem ipsum dolor sit amet.</p>
          <p>Lorem ipsum dolor sit.</p>
          <p>Lorem ipsum dolor</p>
          <p>$49 per month</p>
        </div>
        <a href="/" class="button">Get Started!</a>
      </div>
    </div>
  </div>