<!-- Membership Section -->
<div class="membership__section">
  <h1 class="an-membership">Our <span style="color: red;">Popular</span> Tours</h1>
  <p class="membership__desc an-membership">
    Explore the Great Outdoors: Wilderness Camping Expedition, Lakeside Campsite </p>
  <div class="membership__wrapper">
    <div class="membership__card an-cards">
      <a href="/contact">
        <div class="membership__title">
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
              alt="Image">
            <div class="stars">
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star">★</span>
              <span class="star">★ <span style="font-size: 16px;">(2 Review)</span></span>
            </div>
            <h3>Camping Tour Mount Rainier National Park, Washington</h3>
            <p class="duration">10 days 11 night</p>
            <p class="place">Washington, United State</p>
            <p><span class="strike-through">$8000</span> <span class="discounted-price">$6500</span></p>
          </div>
        </div>
      </a>
    </div>

    <div class="membership__card an-cards">
      <a href="/contact">
        <div class="membership__title">
          <div class="card">
            <img src="https://images.pexels.com/photos/269809/pexels-photo-269809.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="Image">
            <div class="stars">
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star">★ <span style="font-size: 16px;">(5 Review)</span></span>
            </div>
            <h3>Adventure Camping Tour Package, Himachal Pradesh</h3>
            <p class="duration">7 days 6 night</p>
            <p class="place">Himachal Pradesh, India</p>
            <p><span class="strike-through">$5000</span> <span class="discounted-price">$4500</span></p>
          </div>
        </div>
      </a>
    </div>
    <div class="membership__card an-cards">
      <a href="/contact">
        <div class="membership__title">
          <div class="card">
            <img
              src="https://images.pexels.com/photos/5064664/pexels-photo-5064664.jpeg?auto=compress&cs=tinysrgb&w=600"
              alt="Image">
            <div class="stars">
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star checked">★</span>
              <span class="star">★ <span style="font-size: 16px;">(10 Review)</span></span>
            </div>
            <h3>Kheerganga Trekking and Camping, Himachal Pradesh </h3>
            <p class="duration">3 days 4 night</p>
            <p class="place">Himachal Pradesh, India</p>
            <p><span class="strike-through">$3000</span> <span class="discounted-price">$2000</span></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>