  <!-- Services Section -->
  <div class="services" id="services">
    <div class="services__container">
      <div>
        <p class="topline an-services">Features</p>
        <h1 class="services__heading an-services">What we offer</h1>
        <div class="services__features">
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Mountain Trekking Packages
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Family Camping Trips
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Group Travel Tours
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>World Tour Trip
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Expert Travel Advice
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>24/7 Travel Assistance
          </p>
        </div>
      </div>
      <div class="services__img an-img"><img src="" alt="" /></div>
    </div>
  </div>