<!-- Team Section -->
<div class="team">
  <div class="team__wrapper">
    <div class="team__text an-team">
      <p class="topline">Trip Guides</p>
      <h1>Meet our Guides</h1>
      <p class="team__desc">
        Explore the world with us. Our guides make travel easy. Taste local foods, learn about cultures, and enjoy
        unforgettable experiences. Let's journey together!
      </p>
    </div>
    <div class="team__text an-team-end">
      <p class="topline">it's Camping Time</p>
      <h1>We offer tours in a range of locations</h1>
      <p class="team__desc">
        Our mountain tours take you to the highest peaks, where you can witness stunning vistas and enjoy the crisp
        mountain air. Our beach tours, on the other hand, offer a chance to relax and unwind on the sandy shores.
      </p>
    </div>
    <div class="team__card an-team">
      <p>Kaushal</p>
      <img src="images/guide_kaushal.JPG" class="team__img an-team" alt="" />
    </div>

    <div class="team__card an-team">
      <p>Sarah</p>
      <img
        src="https://img.freepik.com/free-photo/full-shot-adventurous-couple-bivouacking_23-2150562959.jpg?size=626&ext=jpg&ga=GA1.1.1255861728.1707232844&semt=ais"
        class="team__img an-team" alt="" />
    </div>
    <div class="team__card an-team">
      <p>Robin</p>
      <img
        src="https://images.pexels.com/photos/20027106/pexels-photo-20027106/free-photo-of-man-rowing-a-wooden-boat-on-the-pragser-wildsee-lake-towards-the-seekofel-mountain-in-the-italian-dolomites.jpeg?auto=compress&cs=tinysrgb&w=600"
        class="team__img an-team" alt="" />
    </div>
    <div class="team__card an-team">
      <p>Nickson</p>
      <img
        src="https://img.freepik.com/free-photo/high-angle-man-with-map-compass_23-2148456525.jpg?size=626&ext=jpg&ga=GA1.1.1255861728.1707232844&semt=ais"
        class="team__img" alt="" />
    </div>
  </div>
</div>
