<%- include('partials/header.ejs') %>
<!-- <div id="loader">
  <h3>Welcome To</h3>
  <h3>Contact Us</h3>
  <h3>.</h3>
  <h3>.</h3>
</div> -->
    <%- include('partials/navbar.ejs') %>

    <div class="contact-div">
        <div id="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116078.31354746528!2d73.62247039594104!3d24.608263766801173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3967e56550a14411%3A0xdbd8c28455b868b0!2sUdaipur%2C%20Rajasthan!5e0!3m2!1sen!2sin!4v1708870945894!5m2!1sen!2sin" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      
        <div id="contact-form">
          <h2>Contact Us</h2>
          <form id="contactForm">
            <input type="text" id="name" class="name-field" name="name" placeholder="Enter full name" required><br>
            <input type="tel" id="phone" class="phone-field" name="phone" placeholder="Enter phone number"><br>
            <input type="email" id="email" class="email-field" name="email" placeholder="Enter email address" required><br>
            <textarea id="message" name="message" class="message-field" rows="5" placeholder="Message" required></textarea><br>
            <input type="submit" id="submit-btn" value="Submit">
          </form>
        </div>
      </div>
      <div class="cont">
        <ul class="contact">
          <li style="text-align: left;">
            <p><i class="fa fa-map-marker fa-3x"></i></p>
            <p><strong>TravelTech Pvt Ltd.</strong></br>Udaipur Badgoan str. 8, India</p>
          </li>
          <li style="text-align: left;">
            <p><i class="fa fa-phone fa-3x"></i></p>
            <p><strong>Phone</strong></br>+121 4555-555</p>
          </li>
          <li style="text-align: left;">
            <p><i class="fa fa-envelope fa-3x"></i></p>
            <p><strong>Email</strong></br>mayankgorana@gmail.com</p>
          </li>
        </ul>
      </div>

        <%- include('partials/footer.ejs') %>