<%- include('partials/header.ejs') %>
  <!-- Hero Section -->
  <div class="hero">
    <div class="hero__content">
      <h1 class="an-hero">TravelTech</h1>
      <p class="an-hero">Explore Dream Discover</p>
      <a href="#services" class="button an-hero">Get Started!</a>
    </div>
  </div>

  <!-- Services Section -->
  <div class="services" id="services">
    <div class="services__container">
      <div>
        <p class="topline an-services">Features</p>
        <h1 class="services__heading an-services">What we offer</h1>
        <div class="services__features">
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Mountain Trekking Packages
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Family Camping Trips
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Group Travel Tours
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>World Tour Trip
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>Expert Travel Advice
          </p>
          <p class="services__feature an-services">
            <i class="fa-solid fa-circle-check"></i>24/7 Travel Assistance
          </p>
        </div>
      </div>
      <div class="services__img an-img"><img src="" alt="" /></div>
    </div>
  </div>

  <!-- Membership Section -->
  <div class="membership__section">
    <h1 class="an-membership">View Our Plans</h1>
    <p class="membership__desc an-membership">
      Get started today and receive 25% off on your first month.
    </p>
    <div class="membership__wrapper">
      <div class="membership__card an-cards">
        <div class="membership__title">
          <i class="fa-solid fa-dumbbell card-icon"></i>
          <h3>Starter</h3>
        </div>
        <div class="membership__perks">
          <p>Get access to the entire gym.</p>
          <p>$29 per month</p>
        </div>
        <a href="/" class="button">Get Started!</a>
      </div>

      <div class="membership__card an-cards">
        <div class="membership__title">
          <i class="fa-solid fa-person-biking card-icon"></i>
          <h3>Silver</h3>
        </div>
        <div class="membership__perks">
          <p>Get access to the entire gym.</p>
          <p>Group FItness classes</p>
          <p>$39 per month</p>
        </div>
        <a href="/" class="button">Get Started!</a>
      </div>

      <div class="membership__card an-cards">
        <div class="membership__title">
          <i class="fa-solid fa-award card-icon"></i>
          <h3>Gold</h3>
        </div>
        <div class="membership__perks">
          <p>Get access to the entire gym.</p>
          <p>Group FItness classes</p>
          <p>Private personal trainer</p>
          <p>$49 per month</p>
        </div>
        <a href="/" class="button">Get Started!</a>
      </div>
    </div>
  </div>

  <!-- Team Section -->
  <div class="team">
    <div class="team__wrapper">
      <div class="team__text an-team">
        <p class="topline">Trip Guiders</p>
        <h1>Meet our Guides</h1>
        <p class="team__desc">
          Explore the world with us. Our guides make travel easy. Taste local foods, learn about cultures, and enjoy
          unforgettable experiences. Let's journey together!
        </p>
      </div>
      <div class="team__text an-team-end">
        <p class="topline">Free Trial</p>
        <h1>7 Day free trial</h1>
        <p class="team__desc">
          You can work with each trainer for up to 7days for free in order to
          see if they area good fit for your goals.
        </p>
      </div>
      <div class="team__card an-team">
        <p>Kaushal</p>
        <img src="images/guide_kaushal.JPG" class="team__img an-team" alt="" />
      </div>
      <div class="team__card an-team">
        <p>Sarah</p>
        <img
          src="https://img.freepik.com/free-photo/full-shot-adventurous-couple-bivouacking_23-2150562959.jpg?size=626&ext=jpg&ga=GA1.1.1255861728.1707232844&semt=ais"
          class="team__img an-team" alt="" />
      </div>
      <div class="team__card an-team">
        <p>Robin</p>
        <img
          src="https://images.pexels.com/photos/20027106/pexels-photo-20027106/free-photo-of-man-rowing-a-wooden-boat-on-the-pragser-wildsee-lake-towards-the-seekofel-mountain-in-the-italian-dolomites.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="team__img an-team" alt="" />
      </div>
      <div class="team__card an-team">
        <p>Nickson</p>
        <img
          src="https://img.freepik.com/free-photo/high-angle-man-with-map-compass_23-2148456525.jpg?size=626&ext=jpg&ga=GA1.1.1255861728.1707232844&semt=ais"
          class="team__img" alt="" />
      </div>
    </div>
  </div>

  <!-- Email Section -->
  <div class="email">
    <video autoplay muted loop class="video-background">
      <source src="/public/images/pexels-video.mp4" type="video/mp4">
      <!-- Add additional source elements for different video formats if needed -->
      Your browser does not support the video tag.
    </video>
    <div class="dark-overlay"></div> <!-- New overlay div -->
    <div class="email__content">
      <h1 class="an-email">Get Access to Members Only Perks</h1>
      <p class="an-email">
        Sign up for our newsletter below to get $50 off your first solo trip!
      </p>
      <form id="subscribeForm" class="an-email" action="/subscribe" method="post">
        <div class="form__wrap">
          <label for="email">
            <input id="emailInput" type="email" name="email" placeholder="Enter your email" required />
          </label>
          <button id="subscribeButton" class="button" type="submit">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
  

  <%- include('partials/footer.ejs') %>