<%- include('partials/header.ejs') %>

<div class="team__card an-team">
    <p>Kaushal</p>
    <img src="images/guide_kaushal.JPG" class="team__img an-team" alt="" />
  </div>

<%- include('partials/footer.ejs') %>