<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <div class="container">
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&w=400"
                    alt="Image">
                <div class="stars">
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star checked">★</span>
                    <span class="star">★</span>
                    <span class="star">★</span>
                </div>
                <h2>Trip Title</h2>
                <p>7 Days</p>
                <p>Place, Country</p>
                <p><span class="strike-through">$2000</span> <span class="discounted-price">$1500</span></p>
            </div>

        </div>

        <%- include('partials/footer.ejs') %>