<%- include('partials/header.ejs') %>
<!-- <div id="loader">
  <h3>Discover</h3>
  <h3>Our</h3>
  <h3>Services</h3>
  <h3>.</h3>
  <h3>.</h3>
</div> -->
<%- include('partials/navbar.ejs') %>
<%- include('partials/servicepartial.ejs') %>

  <%- include('partials/footer.ejs') %>